img{
    padding-left: 14.6cm;
}
h1{
    color:purple ;
}
form{
    color: white;
    background-color: purple;
    width: 900px;
    margin:0 auto;
}
label{
    float: left;
    width: 10em;
    
}
.others{
    float: right;
}